/* Add your css styles here */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 1vh;
}
.outerbody {
    border-style: solid;
    border-width: medium;
    border-radius: 3vw;
    background-color: #7fe0b0;
    height: 98vh;
}
.topA {
    font-size: 3vmin;
    position: fixed;
    top: 5%;
    left: 3%;
}
#clubcenter {
    font-size: 10vw;
    text-align: center;
    position: fixed;
    bottom: calc(50vh - 12.5vw);
    left: 45vw;
}
.bottomA {
    font-size: 3vmin;
    text-align: right;
    position: fixed;
    bottom: 5%;
    right: 3%;
    transform: rotate(180deg);
}

